:root {
    --navbar-text-color: white;
    --content-top-distance: 1.5em;
    --content-side-distance: 1.2em;
    --content-inner-padding: 1em;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#8900b6, #aa02a2);
    background-repeat: no-repeat;
    background-size: auto 65vh;
    font-family: "Raleway", sans-serif;
}