.navbar-title {
    color: var(--navbar-text-color);
    font-weight: normal;
    font-size: 1.2em;
    text-decoration: none;
}

.navbar-title-container {
    display: inline;
    padding: 0;
}

.navbar-logo {
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-top: var(--content-top-distance);
    margin-left: var(--content-side-distance);
    margin-right: var(--content-side-distance);
}