<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="headerfiles.html :: headerfiles"></th:block>
</head>
<body>
  <nav th:replace="titlebar.html :: navbar"></nav>
  <div class="card-main-content">
    <h2 class="card-title">Danke f&uuml;r's Teilnehmen!</h2>
    <div class="card-content">
      <p class="card-text">Falls Sie Bundespolizist*in sind und interesse an der Adventsverlosung haben können Sie hier Ihre BPol Adresse angeben.</p>
      <form action="#" th:action="'/submit/' + ${answer}" th:object="${emailform}" method="post">
        <input placeholder="ihre-email@bpol.bund.de" class="text-input-field" type="email" th:field="*{emailadress}">
      </form>
    </div>
  </div>
</body>
</html>