<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>BPol im Advent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/card.css}" rel="stylesheet" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/titlebar.css}" rel="stylesheet" />
    <style>
        @font-face {
            font-family: "Raleway";
            src: url("/fonts/Raleway-Regular.ttf");
        }
    </style>
</head>