<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="headerfiles.html :: headerfiles"></th:block>
</head>
<body>
    <nav th:replace="titlebar.html :: navbar">
    </nav>
    <div class="card-main-content">
        <h2 class="card-title" th:text="${question.getQuestion()}"></h2>
        <div class="card-content">
            <div th:each="answer, stat : ${question.getAnswers()}">
                <p class="answer-container"><a class="answer-text" th:href="'/answer/' + ${stat.index}" th:text="${stat.index + 1} + ') ' + ${answer}"></a></p>
            </div>
        </div>
    </div>
</body>
</html>