<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="headerfiles.html :: headerfiles"></th:block>
</head>
<body>
<nav th:replace="titlebar.html :: navbar"></nav>
<div class="card-main-content">
    <div th:if="${isOkay}">
        <h2 class="card-title">Danke f&uuml;r's Teilnehmen!</h2>
        <div class="card-content">
            <img class="okay-image" th:src="@{/images/ok.svg}" src="#">
            <p class="card-text">Wer die heutige Verlosung gewonnen hat, wird morgen bekannt gegeben.<br><br>Das nächste Quiz Gibt’s dann morgen!</p>
        </div>
    </div>
    <div th:unless="${isOkay}">
        <h2 class="card-title">Danke f&uuml;r's Teilnehmen!</h2>
        <div class="card-content">
            <p class="card-text">Leider können wir nur BPol Adressen ber&uuml;cksichtigen, versuchen Sie es gerne nocheinmal.</p>
        </div>
    </div>
</div>
</body>
</html>